@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&family=Poppins:ital,wght@1,600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    text-decoration: none;
    list-style: none;
}

:root{
    --bg-color: #222327;
    --text-color: #fff;
    --main-color: #29fd53;
    --color-neutral-0: #0e0c0c;
    --color-neutral-10: #171717;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #f5f5f5;
}

body{
    min-height: 100vh;
    background: var(--bg-color);
    color: var(--text-color);
}
header{
    font-family: 'Poppins', sans-serif;
    position: fixed;
    width: 100%;
    top:0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1a1616;
    padding: 14px;
    transition: all .50s ease;
}
.logo{
    display: flex;
    align-items: center;
}
.logo i{
    color: var(--main-color);
    font-size: 30px;
    margin-right: 3px;    
}
.logo span{
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 600;
}

.navbar{
    display: flex;
}
.navbar a{
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0px 30px;
    transition: all .50s ease;
}

.navbar a:hover{
    color: var(--main-color);
}
.navbar a.active{
    color: var(--main-color);
}
.main{
    display: flex;
    align-items: center;
}
.main a{
    margin-right: 25px;
    margin-left: 10px;
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 500;
    transition: all .50s ease;
}
.user{
    display: flex;
    align-items: center;
}
.user i{
    color: var(--main-color);
    font-size: 28px;
    margin-right: 7px;
}
.main a:hover{
    color: var(--main-color);
}
#menu-icon{
    font-size: 35px;
    color: var(--text-color);
    cursor: pointer;
    z-index: 10001;
    display: none;
}

@media (max-width: 1280px){
    header{
        padding: 14px 2%;
        transition: .2s;
    }
    .navbar a{
        padding: 5px 0;
        margin: 0px 20px;
    }
}

@media (max-width: 1090px) {
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 270px;
        height: 37vh;
        background: var(--main-color);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 10px;
        transition: all .50s ease;
    }
    .navbar a{
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
        transition: all .50s ease;
    }
    .navbar a:hover{
        color: var(--text-color);
        transform: translateY(5px);
    }
    .navbar a.active{
        color: var(--text-color)
    }
    .navbar.open{
        right: 2%;
    }
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;

}

.subContainer{
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 120vh;
    box-shadow: 5px 5px 10px rgb(0, 0, .212);
}

.form-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(37, 129, 91);
    padding: 1rem;
}

.form-image img{
    width: 31rem;
}

.form{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(70, 67, 67);
    padding: 3rem;
}

.form-header {
    display: flex;
    justify-content: space-between;
}

.login-button{
    display: flex;
    align-items: center;
}
.login-button button{
    color: white;
    background: rgb(75, 58, 75);
    padding: 10px 8px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #2c2828;
    user-select: none;
}

.login-button:hover{
   background-color: purple;
    transition: background 1s;
}

.login-button button a{
    text-decoration: none;
    font-weight: 500;
    color: white;
}
.form-header h1::after{
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: purple;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}
.input-group .input-box label{
    color: rgb(7, 151, 14);
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

    .input-box{
        color: white;
        display: flex;
        flex-direction: column;
        margin-bottom: 1.1rem;
    }
    .input-box select{
        color: white;
        display: flex;
        flex-direction: column;
        margin-bottom: 1.1rem;
        margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px black;
    font-size: 0.75rem;
    font-weight: 600;
    color: black;
    }

.input-box input{
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px black;
}

.input-box:hover{
    background-color: antiquewhite;
}
.input-box select:hover{
    background-color: antiquewhite;
}

.input-box:focus-visible{
    outline: purple;
}
.input-box select:focus-visible{
    outline: purple;
}

.input-box label, gender-title h6{
    font-size: 0.75rem;
    font-weight: 600;
    color: black;
}

.input-box input::placeholder{
    color: black;
}

.gender-group {
    display: flex;
    justify-content: space-between;
    margin-top: 0.62rem;
    padding: 0 0.5rem;
}


.gender-input{
    display: flex;
    align-items: center;
}

.gender-input input{
    margin-right: 0.35rem;
}

.gender-input label{
    font-size: 1rem;
    font-weight: 600;
    color: black;
}

.continue-button button{
    width: 100%;
    margin-top: 2.5rem;
    border: none;
    background-color: purple;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}

.continue-button button:hover{
    background-color: purple;
}

.continue-button button a{
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: white;
}
.gender-inputs .gender-title h6{
    font-size: 0.89rem;
}

@media screen and (max-width: 1330px) {
    .form-image{
        display: none;
    }

    .container{
        margin-right: 5vh;
        width: 70%;
    }

    .subContainer{
        height: 100vh;
    }

    .form{
        width: 100%;
    }

    @media screen and (max-width: 1064px) {
        .container{
            width: 90%;
            height: auto;
        }
        .input-group{
            flex-direction: column;
            overflow: scroll;
            flex-wrap: nowrap;
            max-height: 10rem;
            padding-right: 3rem;
        }
        .gender-inputs{
            margin-top: 2rem;
        }
        .gender-group{
            flex-direction: column;
        }
        .gender-input{
            margin-top: 0.5rem;
        }
        .title{
            margin-left: 10vh;
            margin-bottom: 20px;
            text-align: center;
        }
        .card-btn{
    width: 55%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
        .card-btn button{
            margin-right: 16vh;
            height: 30%;
            width: 40%;
            font-size: 16px;
            font-weight: bolder;
            color: dodgerblue;
            border: solid 3px dodgerblue;
            border-radius: 2.5em;
            background-color: white;
            cursor: pointer;
            transition: .3s;
        }
    }
}
footer{
    font-family: 'Inter', sans-serif;
    width: 100%;
    letter-spacing: 1px;
    color: var(--color-neutral-40);
}

#footer_content{
    background-color: var(--color-neutral-10);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}

#footer_contacts h2{
    margin-bottom: 0.75rem;
}

#footer_social_media{
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

#footer_social_media .footer-link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 50%;
    transition: all 0.4s;
}

#instagram{
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook{
    background-color: #4267b3;
}

#twitter{
    background-color: #3E8AFF;
}

.footer-link{
    text-decoration: none;
}

#footer_social_media .footer-link:hover{
    opacity: 0.8;
}
#footer_social_media .footer-link i{
    font-size: 1.2rem;
}
.footer-list{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer-link{
    color: var(--color-neutral-30);
    transition: all 0.4s;
}

.footer-list .footer-link:hover{
    color: #7f37c9;
}
#footer_subscribe{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
#footer_subscribe p{
    color: var(--color-neutral-30);
}
#input_group{
    display: flex;
    align-items: center;
    background-color: 4px;
    border-radius: 4px;
}
#input_group input{
    padding: 0.75rem;
    width: 100%;
}
#input_group button{
    background-color: #7f37c9;
    border: none;
    color: var(--color-neutral-40);
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}

#input_group:hover{
    opacity: 0.8s;
}

#footer_copyright{
    display: flex;
    justify-content: center;
    background-color: var(--color-neutral-0);
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}

@media screen and (max-width: 768px) {
    #footer_content{
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width: 426px) {
    #footer_content{
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
}
#eventos-criados{
    border-top: solid 1px lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.eventos-criados-cabecalho{
    height: 5em;
    width: 85%;
    display: flex;
    align-items: center;
}
.event-card{
    margin: 1em 0;
    height: 10em;
    width: 80%;
    
    border-radius: 1.5em;
    box-shadow: 0 0 15px lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.card-detalhe{
    height: 100%;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
}
.card-detalhe h2, .card-detalhe h3, .card-detalhe h4{
    width: 90%;
    display: flex;
    align-items: center;
}
.card-detalhe h4{
    justify-content: center;
    display: flex;
    align-items: center;
    height: 15%;
    font-size: 18px;
    font-weight: bolder;
    color: #e9dbd0;
}
.card-detalhe h2{
    justify-content: center;
    display: flex;
    align-items: center;
    height: 25%;
    font-size: 25px;
    color: white;
}
.card-detalhe h3{
    color: #e9dbd0;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 15%;
    font-size: 20px;
}

.card-btn{
    width: 55%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-btn button{
    margin-right: 55%;
    height: 30%;
    width: 40%;
    font-size: 16px;
    font-weight: bolder;
    color: dodgerblue;
    border: solid 3px dodgerblue;
    border-radius: 2.5em;
    background-color: white;
    cursor: pointer;
    transition: .3s;
}
.card-btn button:hover{
    color: white;
    border-radius: 2.5em;
    background-color: slateblue;
}